.recipe {
    background: #f0f4ee;
    border-radius: 16px;
    width: calc(100% - 2rem);
    overflow: hidden;
    margin: 0 auto 1rem;
  }
  
  .recipe .recipe-link {
    text-decoration: none;
  }
  
  .recipe figure {
    width: 100%;
  }
  
  .recipe img {
    object-fit: cover;
  }
  
  .recipe div {
    padding: 1rem 2rem;
    text-align: left;
  }
  
  .recipe h3 {
    font-size: 1rem;
    font-weight: 900;
    text-transform: uppercase;
  }
  
  .recipe p {
    line-height: 1em;
  }